
$color-white: #fff;
$color-black: #000;
$color-body: #151a1f ;
$color-top-header: #105474;
$color-bottom-header: #042837;
$color-green: #339900;
$color-grey: #666666;
$color-level:#0b92bc; 
$color-footer: #292626;

$color-blue: #060697;
$color-orange: #d8900b;



$ff-OpenSansRegular: 'OpenSans-Regular';
$ff-OpenSansBold: 'OpenSans-Bold';