


@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
        padding: 0 15px;
        margin: 0 auto;
    }
    .skills {
        &__items {
            max-width: 60%;
        }
        &__title {
            font-size: 24px;
            text-align: left;
        }
        &__content {
            &-title {
                font-size: 20px;
            }
            &-text {
                font-size: 15px;
            }
        }
    }
}